[flake8]
max-line-length = 120
ignore = E402, W504, F403, F405
exclude = backend/substrapp/migrations/*,
          backend/substrapp/tests/assets.py,
          backend/backend/settings/*,
          backend/node/migrations/*,
          backend/medias/*,
          .env, .venv
