-r requirements.txt
bandit==1.7.10
black==24.8.0
coverage==7.6.1
flake8==7.1.1
isort==5.13.2
mypy-protobuf==3.6.0
parameterized==0.9.0
pep8-naming==0.14.1
pytest-cov==5.0.0
pytest-mock==3.14.0
pytest-django==4.9.0
pytest-xdist[psutil]==3.6.1
pytest==8.3.3
responses==0.25.3
flake8-bugbear==24.10.31
pdbpp==0.10.3
factory-boy==3.3.1
mypy==1.13.0
djangorestframework-stubs==3.15.1
django-stubs==5.1.1
celery-types==0.22.0
docker==7.1.0
# Pined because moving to pytest-celery º1.0.0 would require more exxtensive work to use docker images
pytest-celery<2.0.0
towncrier==24.8.0
