-r requirements.txt
bandit==1.7.4
black==23.3.0
coverage==6.4.4
flake8==5.0.4
isort==5.12.0
mypy-protobuf==3.4.0
parameterized==0.9.0
pep8-naming==0.13.3
pytest-cov==4.0.0
pytest-mock==3.8.2
pytest-django==4.5.2
pytest-xdist[psutil]==3.2.1
pytest==7.2.0
responses==0.21.0
watchdog==2.1.9
flake8-bugbear==22.9.23
pdbpp==0.10.3
factory-boy==3.2.1
mypy==1.4.1
djangorestframework-stubs==1.8.0
django-stubs==1.14.0
celery-types==0.14.0
