-r requirements.txt
bandit==1.7.4
black==22.6.0
coverage==6.4.2
flake8==5.0.2
isort==5.10.1
mypy-protobuf==3.2.0
parameterized==0.8.1
pep8-naming==0.13.1
pytest-cov==3.0.0
pytest-mock==3.8.2
pytest-django==4.5.2
pytest-xdist[psutil]==2.5.0
pytest==7.1.2
responses==0.21.0
watchdog==2.1.9
flake8-bugbear==22.7.1
pdbpp==0.10.3
factory-boy==3.2.1
mypy==0.941
djangorestframework-stubs==1.6.0
django-stubs==1.12.0
celery-types==0.14.0
