Django==2.1.2
PyYAML==5.1
celery == 4.2.1
checksumdir == 1.1.4
cryptography >= 1.9
coverage == 4.5.1
django-cors-headers==2.0.2
django-celery-results==1.0.4
django-filter==1.1.0
django-rest-swagger==2.1.2
djangorestframework==3.8.2
djangorestframework-simplejwt==4.3.0
docker == 3.5.0
grpcio >= 1.0.1
GPUtil == 1.4.0
hkdf >= 0.0.3
ipython==6.4.0
ipython-genutils==0.2.0
mock==2.0.0
psycopg2-binary==2.7.4
protobuf == 3.6.0
pycryptodomex >= 3.4.2
pyOpenSSL == 19.0.0
pysha3 == 1.0b1
raven == 6.9.0
requests == 2.20.0
rx >= 1.5.3
sentry-sdk == 0.5.2
six >= 1.4.0
uwsgi == 2.0.18
git+git://github.com/hyperledger/fabric-sdk-py.git@36cc15021f74c11c7ae3196e380a5275c220145f # fabric-sdk-py==0.8.1
