Django==4.2.5
structlog==22.3.0
django-structlog==3.0.1
celery==5.2.7
checksumdir==1.2.0
cryptography==41.0.3
django-cors-headers==3.14.0
django-celery-results==2.5.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.25.1
drf-nested-routers==0.93.4
pyjwt==2.6.0
kubernetes==26.1.0
psycopg2-binary==2.9.3
requests>=2.20.0
uwsgi==2.0.22
zxcvbn==4.4.28
grpcio==1.57.0
grpcio-tools==1.57.0
minio==7.1.14
django-prometheus==2.3.1
django-filter==23.2
pydantic==2.3.0
redis==4.5.4
mozilla-django-oidc==3.0.0
# Dependencies used in local dev mode
argh==0.26.2
watchdog==2.1.9
