apiVersion: v2
name: substra-backend
home: https://substra.org/
version: 21.1.5
appVersion: 0.28.0
kubeVersion: ">= 1.19.0-0"
description: Main package for Substra
type: application
icon: https://avatars.githubusercontent.com/u/84009910?s=200&v=4
sources:
  - https://github.com/SubstraFoundation/substra-backend
maintainers:
  - name: ClementGautier
    email: clement@gautier.im

dependencies:
  - name: rabbitmq
    repository: https://charts.bitnami.com/bitnami
    condition: rabbitmq.enabled
    version: 10.1.1
  - name: postgresql
    repository:  https://charts.bitnami.com/bitnami
    version: 11.6.2
    condition: postgresql.enabled
  - name: docker-registry
    repository: https://helm.twun.io
    version: 1.13.0
    condition: docker-registry.enabled
  - name: minio
    repository: https://charts.bitnami.com/bitnami
    version: 11.6.5
    condition: minio.enabled
