gpu:
  enabled: false
  platform: ubuntu # or cos

docker:
  # Path of the docker socket on the host
  socket: /var/run/docker.sock
  # Dockerconfig to be used to pull the images (base64'd)
  config: null
  # Images to pull
  pullImages: []
    # - substrafoundation/substra-tools:0.0.1

backend:
  replicaCount: 1
  settings: prod
  siteHost: localhost
  defaultDomain: localhost
  uwsgiProcesses: 8
  uwsgiThreads: 2
  gzipModels: false

  dockerSocket:
    enabled: false
    hostPath: /var/run/docker.sock

  image:
    repository: substrafoundation/substra-backend
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []

  service:
    type: NodePort
    port: 8000
    annotations: {}
    labels: {}
    clusterIP: ""
    externalIPs: []
    loadBalancerIP: ""
    loadBalancerSourceRanges: []
    # nodePort: 30000

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths: []

    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

outgoingNodes: []
  # - name: nodeId
  #   secret: nodeSecret
incomingNodes: []
  # - name: nodeId
  #   secret: nodeSecret

users: []
  # - name: username
  #   secret: password

persistence:
  # storageClassName: ""
  # hostPath: "/substra"
  size: "10Gi"
  volumes:
    - name: algos
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    - name: aggregatealgos
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    - name: compositealgos
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    - name: datamanagers
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    - name: datasamples
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    - name: objectives
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    - name: models
      size: "10Gi"
      readOnly:
        server: true
        worker: false
    - name: subtuple
      size: "10Gi"
      readOnly:
        server: true
        worker: false
    - name: computeplan
      size: "10Gi"
      readOnly:
        server: true
        worker: false
    # Writable by jobs only
    - name: outputs
      size: "10Gi"
      readOnly:
        server: true
        worker: true
    # Writable by jobs only
    - name: local
      size: "10Gi"
      readOnly:
        server: true
        worker: true

# Secrets names
secrets:
  caCert: hlf-cacert
  user:
    # Certificate, saved under key 'cert.pem'
    cert: hlf-msp-cert-user
    # Key, saved under 'key.pem'
    key: hlf-msp-key-user
  peer:
    tls: # TLS secret, saved under keys 'tls.crt' and 'tls.key' (to conform with K8S nomenclature)
      client: hlf-tls-user
      server: hlf-tls-admin

organization:
  name: substra

user:
  name: user

peer:
  host: healthchain-peer.owkin.com
  port: 443
  mspID: OwkinPeerMSP

channel: mychannel

chaincode:
  name: mycc
  version: "1.0"

postgresql:
  enabled: true
  postgresqlDatabase: substra
  postgresqlUsername: postgres
  postgresqlPassword: postgres
  persistence:
    enabled: false

rabbitmq:
  enabled: true
  rabbitmq:
    username: rabbitmq
    password: rabbitmq
  host: rabbitmq
  port: 5672
  persistence:
    enabled: false

docker-registry:
  enabled: true
  storage: filesystem
  persistence:
    enabled: false
    deleteEnabled: true

prePulledImages:
- substrafoundation/substra-tools:0.5.0

flower:
  enabled: true
  host: flower
  port: 5555
  persistence:
    enabled: false

  image:
    repository: substrafoundation/flower
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []

  service:
    type: NodePort
    port: 5555
    annotations: {}
    labels: {}
    clusterIP: ""
    externalIPs: []
    loadBalancerIP: ""
    loadBalancerSourceRanges: []

celerybeat:
  replicaCount: 1
  taskPeriod: 10800
  image:
    repository: substrafoundation/celerybeat
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

celeryscheduler:
  resources: {}

celeryworker:
  replicaCount: 1
  image:
    repository: substrafoundation/celeryworker
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  rbac:
    enable: True
  # Add ServiceAccount for celeryworker

extraEnv: []
  # - name: ENV_VARIABLE
  #   value: false

privateCa:
  enabled: false
  configMap:
    name: substra-private-ca
#    data: nil
    fileName: private-ca.crt


registry:
  local: true    # false if you use external docker-registry (host and port will be taken into account)
  host: 127.0.0.1
  port: 32000
  scheme: http
  pullDomain: 127.0.0.1:32000
## Pod Security Policy
## ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/
psp:
  create: True

## Pod Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
securityContext:
  enabled: True
  fsGroup: 1001
  runAsUser: 1001
  runAsGroup: 1001
