backend:
  replicaCount: 1
  settings: prod
  tokenStrategy: 'unique'  # 'reuse'
  siteHost: localhost
  defaultDomain: localhost
  uwsgiProcesses: 20
  uwsgiThreads: 2
  gzipModels: false

  kaniko:
    image: gcr.io/kaniko-project/executor:v1.0.0
    mirror: false  # If true, kaniko will pull base images from the local registry
    cache:
      warmer:
        image: gcr.io/kaniko-project/warmer:v1.0.0
        images: []
          # - image: substrafoundation/substra-tools:0.7.0

  compute:
    registry: null  # Pull compute tasks images (image builder, cleanup, ...) from a custom registry

  image:
    repository: substrafoundation/substra-backend
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []

  service:
    type: NodePort
    port: 8000
    annotations: {}
    labels: {}
    clusterIP: ""
    externalIPs: []
    loadBalancerIP: ""
    loadBalancerSourceRanges: []
    # nodePort: 30000

  ingress:
    enabled: false
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths: []

    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  grpc:
    keepalive:
      timeMs: 120000


outgoingNodes: []
  # - name: nodeId
  #   secret: nodeSecret
incomingNodes: []
  # - name: nodeId
  #   secret: nodeSecret

users: []
  # - name: username
  #   secret: password
  #   channel: mychannel

persistence:
  # storageClassName: ""
  # hostPath: "/substra"
  # hostPathServerMedias: "/host/servermedias"
  size: "10Gi"
  volumes:
    algos:
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    aggregatealgos:
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    compositealgos:
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    datamanagers:
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    datasamples:
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    objectives:
      size: "10Gi"
      readOnly:
        server: false
        worker: true
    models:
      size: "10Gi"
      readOnly:
        server: true
        worker: false
    subtuple:
      size: "10Gi"
      readOnly:
        server: true
        worker: false
    computeplan:
      size: "10Gi"
      readOnly:
        server: true
        worker: false
    local:
      size: "10Gi"
      readOnly:
        server: true
        worker: false

# Secrets names
secrets:
  caCert: hlf-cacert
  user:
    # Certificate, saved under key 'cert.pem'
    cert: hlf-msp-cert-user
    # Key, saved under 'key.pem'
    key: hlf-msp-key-user
  peer:
    tls: # TLS secret, saved under keys 'tls.crt' and 'tls.key' (to conform with K8S nomenclature)
      client: hlf-tls-user
      server: hlf-tls-admin

organization:
  name: substra

user:
  name: user

peer:
  host: healthchain-peer.owkin.com
  port: 443
  mspID: OwkinPeerMSP
  waitForEventTimeoutSeconds: 45
  strategy:
    invoke: ALL
    query: SELF

channels:
  - mychannel:
      restricted: false
      chaincode:
        name: mycc
        version: "1.0"

postgresql:
  enabled: true
  postgresqlDatabase: substra
  postgresqlUsername: postgres
  postgresqlPassword: postgres
  persistence:
    enabled: false

rabbitmq:
  enabled: true
  rabbitmq:
    username: rabbitmq
    password: rabbitmq
  host: rabbitmq
  port: 5672
  persistence:
    enabled: false

docker-registry:
  enabled: true
  storage: filesystem
  persistence:
    enabled: true
    size: 10Gi
    deleteEnabled: true

celerybeat:
  replicaCount: 1
  taskPeriod: 10800
  image:
    repository: substrafoundation/substra-backend
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

celeryscheduler:
  resources: {}

celeryworker:
  replicaCount: 1
  concurrency: 1  # Max number of tasks to process in parallel
  updateStrategy: RollingUpdate
  image:
    repository: substrafoundation/substra-backend
    tag: latest
    pullPolicy: IfNotPresent
    pullSecrets: []

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  rbac:
    enable: True
  # Add ServiceAccount for celeryworker


events:
  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}


extraEnv: []
  # - name: ENV_VARIABLE
  #   value: false

privateCa:
  enabled: false
  image:
    repository: alpine:latest
    pullPolicy: IfNotPresent
    apkAdd: true
  configMap:
    name: substra-private-ca
#    data: nil
    fileName: private-ca.crt


httpClient:
  timeoutSeconds: 30


registry:
  local: true    # false if you use external docker-registry (host and port will be taken into account)
  host: 127.0.0.1
  port: 32000
  scheme: http
  pullDomain: 127.0.0.1:32000

  ## Local registry pre-populate
  prepopulate: []
    # - image: substrafoundation/substra-tools:0.7.0
    #   sourceRegistry: xxx.dkr.ecr.eu-west-1.amazonaws.com
    #   dockerConfigSecretName: docker-config

## Pod Security Policy
## ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/
psp:
  create: True

## Pod Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
securityContext:
  enabled: True
  fsGroup: 1001
  runAsUser: 1001
  runAsGroup: 1001
