# Deny ALL networking in launched substra ml task
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ template "substra.fullname". }}-deny-ingress
  namespace: {{ .Release.Namespace }}
  labels:
    {{ include "substra.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      task: substra_task  # TASK_LABEL
  policyTypes:
  - Ingress
  - Egress
