{{- if .Values.celeryworker.rbac.enable }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "substra.fullname" . }}-worker
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ template "substra.name" . }}
    app.kubernetes.io/part-of: {{ template "substra.name" . }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "substra.fullname" . }}-worker
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ template "substra.name" . }}
    app.kubernetes.io/part-of: {{ template "substra.name" . }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "watch", "list", "create", "update", "patch"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "substra.fullname" . }}-worker
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ template "substra.name" . }}
    app.kubernetes.io/part-of: {{ template "substra.name" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "substra.fullname" . }}-worker
roleRef:
  kind: Role
  name: {{ template "substra.fullname" . }}-worker
  apiGroup: rbac.authorization.k8s.io
{{- end }}
