# .coveragerc to control coverage.py
[run]
source =
    ./substrapp/

omit =
    ./substrapp/apps.py
    ./substrapp/serializers/ledger/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    except:
    except Exception
    except FileNotFoundError
    raise
    EXCEPTIONS_MAP = dict()
    logging

    # Don't complain if no gpu during test
    if gpu_set
    if __gpu_list
    if cls.__gpu_sets
    if 'environment' in job_args

    # Ignore functions
    #def doTask
    #def prepareTask
    def prepareTrainingTask
    def prepareTestingTask
    queryLedger
    invokeLedger
