# .coveragerc to control coverage.py
[run]
source =
    ./substrapp/

omit =
    #./substrapp/serializers/ledger/*
    ./substrapp/tests/generate_assets.py
    ./substrapp/management/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain if no gpu during test
    if gpu_set
    if __gpu_list
    if cls.__gpu_sets
    if 'environment' in job_args

    # Ignore functions
    def prepare_training_task
    def prepare_testing_task
