name: Hadolint

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "**"
    paths:
      - "docker/**"

jobs:
  lint:
    name: Lint Dockerfile
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile:
          - docker/metrics-exporter/Dockerfile
          - docker/substra-backend/Dockerfile
    steps:
      - uses: actions/checkout@v3
      - uses: hadolint/hadolint-action@v2.1.0
        with:
          dockerfile: ${{ matrix.dockerfile }}
